---
import Image from "astro/components/Image.astro";

import ImageInstagram from "../assets/icon_instagram.webp";
import ImageFacebook from "../assets/icon_facebook.webp";

import ImageEn from "../assets/medie_sydhavn.webp";
import ImageTo from "../assets/mad.webp";
import ImageTre from "../assets/medie_3.webp";
import ImageFire from "../assets/medie_4.webp";
import ImageFem from "../assets/medie_5.webp";
---

<section class="medier_style">
  <section class="sociale_medier">
    <h2>FØLG MED I HVERDAGEN</h2>
    <a href="https://www.instagram.com/karens_minde/?hl=da" target="_blank" rel="noopener noreferrer">
      <Image src={ImageInstagram} alt="Instagram" class="pic1" />
    </a>

    <a href="https://www.facebook.com/KarensMindeKulturhus/?locale=da_DK" target="_blank" rel="noopener noreferrer">
      <Image src={ImageFacebook} alt="Facebook" class="pic2" />
    </a>
  </section>

  <div class="gallery">
    <div class="row top">
      <Image src={ImageEn} alt="" class="" />
      <Image src={ImageTo} alt="" class="" />
    </div>

    <div class="row bottom">
      <Image src={ImageTre} alt="" class="pic3" />
      <Image src={ImageFire} alt="" class="pic4" />
      <Image src={ImageFem} alt="" class="pic5" />
    </div>
  </div>
</section>
<style>
  /******************** Reset ***********************/

  .sociale_medier {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .sociale_medier h2 {
    margin: 0;
    white-space: nowrap;
  }
  /*** padding ***/
  .pic1,
  .pic2 {
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .pic1:hover,
  .pic2:hover {
    transform: scale(1.05);
  }

  .medier_style {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
  }

  body {
    background-color: #db3a00;
  }

  /*****medie billed flex ****/
  .gallery {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .row {
    display: flex;
    gap: 40px;
  }

  .pic1 {
    flex: 1.8;
  }

  .pic2 {
    flex: 1.2;
  }

  .pic3,
  .pic4,
  .pic5 {
    flex: 1;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    .row {
      flex-direction: column;
      gap: 20px;
    }

    .pic1,
    .pic2,
    .pic3,
    .pic4,
    .pic5 {
      flex: none;
    }
    .sociale_medier h2 {
      white-space: wrap;
    }
  }
</style>
